
<% wrap_layout :inner do %>
    <% content_for :sidebar do %>
        <div class="docs-sidebar hidden-print affix-top" role="complementary">
            <ul class="nav docs-sidenav">
                <li>
                    <a href="/docs/providers/index.html">All Providers</a>
                </li>
                <li>
                    <a href="/docs/providers/edgenext/index.html">EdgeNext Provider</a>
                </li>
                
                <li>
                    <a href="#">Content Delivery Network (CDN)</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/edgenext/d/cdn_domain.html">edgenext_cdn_domain</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/edgenext/d/cdn_domains.html">edgenext_cdn_domains</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/edgenext/d/cdn_push.html">edgenext_cdn_push</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/edgenext/d/cdn_pushes.html">edgenext_cdn_pushes</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/edgenext/d/cdn_purge.html">edgenext_cdn_purge</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/edgenext/d/cdn_purges.html">edgenext_cdn_purges</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/edgenext/r/cdn_domain.html">edgenext_cdn_domain</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/edgenext/r/cdn_push.html">edgenext_cdn_push</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/edgenext/r/cdn_purge.html">edgenext_cdn_purge</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">SSL Certificate Management (SSL)</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/edgenext/d/ssl_certificate.html">edgenext_ssl_certificate</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/edgenext/d/ssl_certificates.html">edgenext_ssl_certificates</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/edgenext/r/ssl_certificate.html">edgenext_ssl_certificate</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Object Storage Service (OSS)</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/edgenext/d/oss_buckets.html">edgenext_oss_buckets</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/edgenext/d/oss_object.html">edgenext_oss_object</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/edgenext/d/oss_objects.html">edgenext_oss_objects</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/edgenext/r/oss_bucket.html">edgenext_oss_bucket</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/edgenext/r/oss_object.html">edgenext_oss_object</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/edgenext/r/oss_object_copy.html">edgenext_oss_object_copy</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Security CDN (SCDN)</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/edgenext/d/scdn_domain.html">edgenext_scdn_domain</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/edgenext/d/scdn_domains.html">edgenext_scdn_domains</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/edgenext/d/scdn_origin.html">edgenext_scdn_origin</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/edgenext/d/scdn_origins.html">edgenext_scdn_origins</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/edgenext/d/scdn_domain_base_settings.html">edgenext_scdn_domain_base_settings</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/edgenext/d/scdn_access_progress.html">edgenext_scdn_access_progress</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/edgenext/d/scdn_domain_templates.html">edgenext_scdn_domain_templates</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/edgenext/d/scdn_brief_domains.html">edgenext_scdn_brief_domains</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/edgenext/d/scdn_certificate.html">edgenext_scdn_certificate</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/edgenext/d/scdn_certificates.html">edgenext_scdn_certificates</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/edgenext/d/scdn_certificates_by_domains.html">edgenext_scdn_certificates_by_domains</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/edgenext/d/scdn_certificate_export.html">edgenext_scdn_certificate_export</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/edgenext/d/scdn_rule_template.html">edgenext_scdn_rule_template</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/edgenext/d/scdn_rule_templates.html">edgenext_scdn_rule_templates</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/edgenext/d/scdn_rule_template_domains.html">edgenext_scdn_rule_template_domains</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/edgenext/d/scdn_network_speed_config.html">edgenext_scdn_network_speed_config</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/edgenext/d/scdn_network_speed_rules.html">edgenext_scdn_network_speed_rules</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/edgenext/d/scdn_cache_rules.html">edgenext_scdn_cache_rules</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/edgenext/d/scdn_cache_global_config.html">edgenext_scdn_cache_global_config</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/edgenext/d/scdn_security_protection_ddos_config.html">edgenext_scdn_security_protection_ddos_config</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/edgenext/d/scdn_security_protection_waf_config.html">edgenext_scdn_security_protection_waf_config</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/edgenext/d/scdn_security_protection_template.html">edgenext_scdn_security_protection_template</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/edgenext/d/scdn_security_protection_templates.html">edgenext_scdn_security_protection_templates</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/edgenext/d/scdn_security_protection_template_domains.html">edgenext_scdn_security_protection_template_domains</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/edgenext/d/scdn_security_protection_template_unbound_domains.html">edgenext_scdn_security_protection_template_unbound_domains</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/edgenext/d/scdn_security_protection_member_global_template.html">edgenext_scdn_security_protection_member_global_template</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/edgenext/d/scdn_security_protection_iota.html">edgenext_scdn_security_protection_iota</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/edgenext/d/scdn_origin_group.html">edgenext_scdn_origin_group</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/edgenext/d/scdn_origin_groups.html">edgenext_scdn_origin_groups</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/edgenext/d/scdn_origin_groups_all.html">edgenext_scdn_origin_groups_all</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/edgenext/d/scdn_cache_clean_config.html">edgenext_scdn_cache_clean_config</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/edgenext/d/scdn_cache_clean_tasks.html">edgenext_scdn_cache_clean_tasks</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/edgenext/d/scdn_cache_clean_task_detail.html">edgenext_scdn_cache_clean_task_detail</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/edgenext/d/scdn_cache_preheat_tasks.html">edgenext_scdn_cache_preheat_tasks</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/edgenext/d/scdn_log_download_tasks.html">edgenext_scdn_log_download_tasks</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/edgenext/d/scdn_log_download_templates.html">edgenext_scdn_log_download_templates</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/edgenext/d/scdn_log_download_fields.html">edgenext_scdn_log_download_fields</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/edgenext/r/scdn_domain.html">edgenext_scdn_domain</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/edgenext/r/scdn_origin.html">edgenext_scdn_origin</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/edgenext/r/scdn_cert_binding.html">edgenext_scdn_cert_binding</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/edgenext/r/scdn_domain_base_settings.html">edgenext_scdn_domain_base_settings</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/edgenext/r/scdn_domain_status.html">edgenext_scdn_domain_status</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/edgenext/r/scdn_domain_node_switch.html">edgenext_scdn_domain_node_switch</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/edgenext/r/scdn_domain_access_mode.html">edgenext_scdn_domain_access_mode</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/edgenext/r/scdn_certificate.html">edgenext_scdn_certificate</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/edgenext/r/scdn_certificate_apply.html">edgenext_scdn_certificate_apply</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/edgenext/r/scdn_rule_template.html">edgenext_scdn_rule_template</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/edgenext/r/scdn_rule_template_domain_bind.html">edgenext_scdn_rule_template_domain_bind</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/edgenext/r/scdn_rule_template_domain_unbind.html">edgenext_scdn_rule_template_domain_unbind</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/edgenext/r/scdn_network_speed_config.html">edgenext_scdn_network_speed_config</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/edgenext/r/scdn_network_speed_rule.html">edgenext_scdn_network_speed_rule</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/edgenext/r/scdn_network_speed_rules_sort.html">edgenext_scdn_network_speed_rules_sort</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/edgenext/r/scdn_cache_rule.html">edgenext_scdn_cache_rule</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/edgenext/r/scdn_cache_rule_status.html">edgenext_scdn_cache_rule_status</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/edgenext/r/scdn_cache_rules_sort.html">edgenext_scdn_cache_rules_sort</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/edgenext/r/scdn_security_protection_ddos_config.html">edgenext_scdn_security_protection_ddos_config</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/edgenext/r/scdn_security_protection_waf_config.html">edgenext_scdn_security_protection_waf_config</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/edgenext/r/scdn_security_protection_template.html">edgenext_scdn_security_protection_template</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/edgenext/r/scdn_security_protection_template_domain_bind.html">edgenext_scdn_security_protection_template_domain_bind</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/edgenext/r/scdn_security_protection_template_batch_config.html">edgenext_scdn_security_protection_template_batch_config</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/edgenext/r/scdn_origin_group.html">edgenext_scdn_origin_group</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/edgenext/r/scdn_origin_group_domain_bind.html">edgenext_scdn_origin_group_domain_bind</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/edgenext/r/scdn_origin_group_domain_copy.html">edgenext_scdn_origin_group_domain_copy</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/edgenext/r/scdn_cache_clean_task.html">edgenext_scdn_cache_clean_task</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/edgenext/r/scdn_cache_preheat_task.html">edgenext_scdn_cache_preheat_task</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/edgenext/r/scdn_log_download_task.html">edgenext_scdn_log_download_task</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/edgenext/r/scdn_log_download_template.html">edgenext_scdn_log_download_template</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/edgenext/r/scdn_log_download_template_status.html">edgenext_scdn_log_download_template_status</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    <% end %>
    <%= yield %>
<% end %>
